/*Importacion*/
/*ANIMACIONES*/
@import url("https://fonts.googleapis.com/css2? family= Heebo:wght@300 & family= Orbitron & display=swap");
nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(red orange);
}

.links-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*gradientes*/
  background-image: linear-gradient(red orange);
}

.links-style a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  width: 200px;
}

/*animate css*/
.promo {
  animation-name: swing;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes titulo-mym {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.video {
  width: 700px;
  height: 500px;
  transform: translate(400px, -300px);
}

/*Anidacion*/
header {
  background-color: rgb(189, 184, 184);
}

/*Condicional if*/
.caja {
  background-color: blue;
}

/*creamos nuestro mapa*/
.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 4rem;
}

.h3 {
  font-size: 6rem;
}

.h4 {
  font-size: 8rem;
}

.h5 {
  font-size: 10rem;
}

.h6 {
  font-size: 12rem;
}

/*BUCLE EACH*/
/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #e60b9d;
}

/*EXTEND*/
.card, .avatar {
  background-color: white;
  border-radius: 4px;
  padding: 25px;
  font-size: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
}

/*MIXINS*/
.img {
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

/*FUENTES*/
@font-face {
  font-family: "bebasneue-regular", sans-serif;
  src: url("../fuentes/BebasNeue-Regular.ttf");
}
/*Selector universal*/
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

#bordes-header {
  border: 5px solid rgb(67, 252, 67);
}

.links-style {
  font-family: "Heebo", sans-serif;
  color: white;
}

.logo-img {
  width: 200px;
  margin-top: 1px;
}

/*-
/*Selector de clase*/
.links-clientes {
  font-size: 20px;
  color: orange;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.links-style {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.img-filtro {
  width: 400px;
}

/*Selector ID*/
#estilos-footer {
  background-color: pink;
  width: 100%;
  height: 80px;
  border: 1px solid royalblue;
}

#estilos-footer p {
  background-color: rgb(247, 103, 187);
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder 1px;
  text-align: center;
  font-size: 30px;
}

#main-clientes {
  width: 100%;
  background-image: url("../recursos/imagenes/cambio de aceite.jpg");
  background-size: cover;
  border: 1px solid salmon;
  height: 800px;
}

/*Herencia*/
p {
  color: orange;
}

/*Background-image*/
.back-productos {
  height: 900px;
  width: 100%;
  /*Background-image*/
  background-image: url(../recursos/imagenes/cambio\ de\ aceite\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*box-modeling*/
.box-modeling {
  border: 5px solid black;
}

/*Comentario css*/
/*Flexbox*/
.flex-container {
  border: 1px solid black;
  background: #ccc;
  padding: 10px;
  margin: 10px;
  height: 650px;
  /*Propiedades de la caja*/
  /*Activamos flexbox*/
  display: flex;
  /*Definimos eje principal , si es una fila o una columna*/
  flex-direction: row;
  /*Defino el desborde*/
  flex-wrap: wrap;
  /*Alineamos los elementos en el eje principal*/
  justify-content: flex-start;
  /*Alineamos los elementos en el eje secundario*/
  align-items: flex-start;
  /*Espacio entre lineas*/
  align-content: center;
}

.caja {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  margin: 5px;
  /*Tipografias*/
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: "bebasneue-regular", sans-serif;
}

/*Propiedades de los flex items*/
.c1 {
  background-color: orange;
  order: 3;
  flex-grow: 3;
}

.c2 {
  background-color: aqua;
  order: 1;
  /*Derecho a crecer*/
  flex-grow: 5;
}

.c3 {
  background-color: blueviolet;
  order: 2;
}

/*CSS GRIDS Practica*/
.grid-container {
  /*Box modeling*/
  width: 90%;
  max-width: 1000px;
  border: 3px solid black;
  margin: auto;
  height: 900px;
  /*Tipografia*/
  font-size: 20px;
  text-align: center;
  /*Activar GRIDS*/
  display: grid;
  /*Definimos la cantidad de columnas y su ancho widht*/
  grid-template-columns: 35% 30% 35%;
  /*Definimos la cantidad de filas y su alto height*/
  grid-template-rows: repeat(4, 1fr);
  /*Lineas huecas entre columnas*/
  -moz-column-gap: 10px;
       column-gap: 10px;
  /*Lineas huecas entre filas*/
  row-gap: 10px;
  /*eje horizontal*/
  justify-items: center;
  /*eje vertical*/
  align-items: center;
}

/*Divs que estan dentro del grid container*/
.grid-container div {
  padding: 20px;
  color: black;
  background: white;
}

/*GRIDS POR AREAS*/
#grilla {
  /*activamos grids*/
  display: grid;
  grid-template-areas: "nav  Fecha Distribuidora Vencimiento Pago";
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: 2;
}

.border {
  border: 2px solid black;
}

/*Responsive*/
main {
  background-color: black;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: "bebasneue-regular", sans-serif;
}

/*Grids areas, Responsive*/
/*Pseudoclases*/
a:hover {
  background: black;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/*First and lost type*/
.elementos p:first-of-type {
  background-color: blue;
  color: red;
}

.elementos div:last-of-type {
  background-color: green;
  color: white;
}

/*nth-child y nth-last-child*/
.listas :nth-child {
  background: blue;
  color: white;
  grid-template-columns: 10% 30% 30% 30%;
}

.col bg-primary {
  background-color: orange;
  font-size: medium;
  font-weight: bolder;
}

.th scope {
  width: 25% 25% 25% 25%;
  color: black;
  border: 2px;
  margin: 0%;
}

.btn btn-outline-success {
  text-align: 10%;
}

.table {
  text-align: center;
  grid-template-columns: 10% 30% 30% 30%;
}/*# sourceMappingURL=estilos.css.map */