/*Importacion*/
/*ANIMACIONES*/
@import url("https://fonts.googleapis.com/css2? family= Heebo:wght@300 & family= Orbitron & display=swap");
nav {
  background-color: black;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(red orange);
}

.links-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*gradientes*/
  background-image: linear-gradient(red orange);
}

.links-style a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  width: 200px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: orangered;
  text-align: center;
}

form {
  text-align: justify;
}

/*animate css*/
.promo {
  background-color: orangered;
  text-align: center;
  animation-name: swing;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: linear;
}

.video {
  width: 700px;
  height: 500px;
  transform: translate(400px, -300px);
}

/*Anidacion*/
head {
  background-color: black;
}

header {
  background-color: rgb(189, 184, 184);
}

/*Condicional if*/
.caja {
  background-color: blue;
}

/*creamos nuestro mapa*/
.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 4rem;
}

.h3 {
  font-size: 6rem;
}

.h4 {
  font-size: 8rem;
}

.h5 {
  font-size: 10rem;
}

.h6 {
  font-size: 12rem;
}

/*BUCLE EACH*/
/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #e60b9d;
}

/*EXTEND*/
.card, .avatar {
  background-color: white;
  border-radius: 4px;
  padding: 25px;
  font-size: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
}

/*MIXINS*/
.img {
  margin-left: auto;
  display: inline 25% 25% 25% 25%;
  width: 300px;
  height: 300px;
}

/*FUENTES*/
@font-face {
  font-family: "bebasneue-regular", sans-serif;
  src: url("../fuentes/BebasNeue-Regular.ttf");
}
/*Selector universal*/
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

#bordes-header {
  border: 5px solid rgb(67, 252, 67);
}

.links-style {
  font-family: "Heebo", sans-serif;
  color: white;
}

.logo-img {
  width: 200px;
  margin-top: 1px;
}

/*-
/*Selector de clase*/
.links-clientes {
  font-size: 20px;
  color: orange;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.links-style {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.img-filtro {
  width: 400px;
}

#main-clientes {
  width: 100%;
  background-image: url("../recursos/imagenes/cambio de aceite.jpg");
  background-size: cover;
  border: 1px solid salmon;
  height: 800px;
}

/*Herencia*/
p {
  color: black;
}

/*Background-image*/
.back-productos {
  height: 900px;
  width: 100%;
  /*Background-image*/
  background-image: url(../recursos/imagenes/cambio\ de\ aceite\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*box-modeling*/
.box-modeling {
  border: 5px solid black;
}

/*Comentario css*/
.border {
  border: 2px solid black;
}

/*Responsive*/
main {
  background-color: black;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: "bebasneue-regular", sans-serif;
}

/*Pseudoclases*/
a:hover {
  background: black;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/*First and lost type*/
.elementos p:first-of-type {
  background-color: blue;
  color: red;
}

.elementos div:last-of-type {
  background-color: green;
  color: white;
}

/*nth-child y nth-last-child*/
.listas :nth-child {
  background: blue;
  color: white;
  grid-template-columns: 10% 30% 30% 30%;
}

.col bg-primary {
  background-color: orange;
  font-size: medium;
  font-weight: bolder;
}

.table {
  text-align: center;
  grid-template-columns: 10% 30% 30% 30%;
}

.estilos-footer {
  background-color: #e60b9d;
  border: 2px;
  color: white;
}

/*# sourceMappingURL=estilos.css.map */
