h1{
    margin-left: 100px;
    font-family: $font-principal;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(251, 175, 33);
    text-align: center;
}

/*Selectores*/
/*Selectores de etiqueta*/
h3-index{
    font-family: $font-principal;
    background-color: orange;
    font-size: 2rem;
    text-align: center;
}

h5{
    border: 2PX solid black;
}
