h1{
    margin-left: 100px;
    font-family: $font-principal;
    font-size: 4rem;
    font-weight: bold;
    color: orange;
    text-align: center;
}
/*Selectores*/
/*Selectores de etiqueta*/
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: map-get($map: $estilos, $key: tfuente);
    font-weight: bolder;
    color: map-get($map: $estilos, $key: color);
    text-align: center;
}
h5{
    border: 2PX solid black;
}
