#estilos-footer{
    background-color: pink;
    width: 100%;
    height: 80px;
    border: 1px solid royalblue
}
#estilos-footer p{
    background-color: rgb(247, 103, 187);
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder 1px;
    text-align: center;
    font-size: 30px;
}