section{
    margin-left: 40px;
}
section article{
    background-color: black;
    width: 1200px;
    height: 500px;
}
section article p{
    font-size: 25px;
}
section{
    grid-area: Fecha distribuidora vencimiento pago; 
    background: orange;

}